*{ margin: 0; padding: 0; box-sizing: border-box;}

.app{
    margin: 40px auto;
    width: min-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.group{
    display: grid;
    grid-template-columns: repeat(3,75px);
    grid-auto-rows: 75px;
}

.group .item{
    border: 1px solid #ddd;;
}

.group .item:nth-child(5){
    background: #bbb;
}

.app .group:nth-child(5) .item{
    background: #bbb;
}

.app .group:nth-child(5) .item:nth-child(5){
    background: #888;

}